<footer id="footer">
    <a href="http://murica.us/" target="_blank">
        <div class="flag">
            <div class="blue"></div>
            <div class="red"></div>
            <div class="white"></div>
            <div class="red"></div>
            <div class="white"></div>
            <div class="red"></div>
            <div class="white"></div>
            <div class="red"></div>
            <div class="white"></div>
            <div class="red"></div>
        </div>
      </a>
    <p class="text-muted credit">
      from <a href="http://ryan-kahn.com" target="_blank">Ryan Kahn</a> & <a href="http://kirksteineck.com" target="_blank">Kirk Steineck</a>
    </p>
</footer>