<div id="content">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="row">
      <div class="container">
        {{partial 'header'}}
      </div>
    </div>
  </nav>
  {{outlet}}
</div>