<div class="row">
	<div class="col-sm-8">
		<h3>
			{{activeUser.firstName}}'s Dashboard
		</h3>
    	{{#link-to 'projects'}}
    		View Your Projects
    	{{/link-to}}
	</div>
	<div class="col-sm-4">
	</div>
</div>